<form [formGroup]="form">
    <div class="form-group">
        <label for="oldPassword">
            Old Password
        </label>
        <input
            formControlName="oldPassword"
            type="password" 
            id="oldPassword"
            class="form-control">
        <div class="alert alert-danger" 
                *ngIf="oldPassword.touched && oldPassword.invalid">
            <div *ngIf="oldPassword.errors['required']">
                Old password is required.
            </div>
            <div *ngIf="oldPassword.errors['checkOldPassword']">
                The old password is invalid.
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="newPassword">
            New Password
        </label>
        <input
            formControlName="newPassword"
            type="password" 
            id="newPassword"
            class="form-control">
        <div class="alert alert-danger" 
                *ngIf="newPassword.touched && newPassword.invalid">
            <div *ngIf="newPassword.errors['required']">
                New password is required.
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="confirmPassword">
            Confirm Password
        </label>
        <input
            formControlName="confirmPassword"
            type="password" 
            id="confirmPassword"
            class="form-control">
        <div class="alert alert-danger" 
                *ngIf="confirmPassword.touched && confirmPassword.invalid">
            <div *ngIf="confirmPassword.errors['required']">
                Confirm password is required.
            </div>
        </div>
    </div>
    <br>
    <div class="alert alert-danger" *ngIf="confirmPassword.valid && form.invalid && getError('checkPasswordEquality')">
        Passwords don't match.
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
