<form #courseForm="ngForm">
    <div class="form-group">
        <label for="courseName">Course Name</label>
        <input 
            required 
            minlength="5"
            ngModel
            name="courseName"
            #courseName="ngModel" 
            type="text" 
            class="form-control">
    </div>
    <div 
    class="alert alert-danger" 
        *ngIf="courseName.touched && !courseName.valid">
        <div *ngIf="courseName.hasError('required')">
            First Name is required.
        </div>
        <div *ngIf="courseName.hasError('minlength')">
            First Name should be minimum {{ courseName.errors!['minlength'].requiredLength }} characters long.
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select required ngModel name="category" id="category" class="form-control" #category="ngModel" (change)="log(category)">
            <option></option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
    </div>
    <div class="alert alert-danger" *ngIf="category.touched && category.viewModel==''">Category is required.</div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="hasGuarantee"> 30-day money-back guarantee
        </label>
    </div>
    <p>
        {{ courseForm.value | json }}
    </p>
    <button class="btn btn-primary" [disabled]="!courseForm.valid">Create</button>
</form>