<h1>Angular</h1>

<zippy title="Courses Component">
    <div *ngIf="coursesCount > 0; then coursesList else noCourses"></div>
        <ng-template #coursesList>
            <courses></courses>
        </ng-template>
        <ng-template #noCourses>
            No courses yet.
        </ng-template>
</zippy>

<zippy title="Shipping Details">
    Shipping Details Content
</zippy>

<zippy title="Favorite Component">
    <favorite [is-favorite]="post.isFavorite" (favorite-changed)="onFavoriteChanged($event)"></favorite>
</zippy>

<zippy title="Pipeline Component">
    <title-case-edit></title-case-edit>
</zippy>

<zippy title="Like Component">
    <like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked"></like>
</zippy>

<zippy title="Custom pipe">
    <div>
        {{ customPipeText | summary:20 }}
    </div>
</zippy>
<zippy title="Form Contact">
    <contact-form></contact-form>
</zippy>
<zippy title="Course Form">
    <course-assignment></course-assignment>
</zippy>
<zippy title="Signup Form">
    <signup-form></signup-form>
</zippy>
<zippy title="FormArray Demo">
    <app-form-array></app-form-array>
</zippy>
<zippy title="Form Builder Demo">
    <app-form-builder-demo></app-form-builder-demo>
</zippy>
<zippy title="Change Password">
    <change-password></change-password>
</zippy>
<zippy title="Http Demo">
    <posts></posts>
</zippy>
<zippy title="Github Followers">
    <github-followers></github-followers>
</zippy>
<!-- <zippy title="Async Message Component">
    <div>
        <p>Message: {{message$ | async }}</p>
        <button type="button" (click)="resend()">Resend</button>
    </div>
</zippy> -->